* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
body {
  padding: 0;
  margin: 0;
}

.btn {
  width: auto;
  height: fit-content;
  background-color: royalblue;
  padding: 1em 2em;
  border-radius: 5px;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.top-side {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.nav-bar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid black;
}
.slider-box {
  width: 100%;
  height: 90vh;
  display: flex;
  background-color: #fff;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}
.slider-items-box {
  width: 80%;
  height: 70vh;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, 0.25);
}
.btn-box {
  display: flex;
  flex-direction: row;
  column-gap: 5vh;
  width: 100%;
  height: 10vh;
  background-color: yellow;
  align-items: center;
  justify-content: center;
}

.crypto-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  column-gap: 4%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.crypto-box {
  height: 60%;
  width: 40%;
  box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, 0.25);

  background-color: #fff;
}
.graph-box {
  display: flex;
  flex-direction: column;
  .graph {
    width: 100%;
    height: 90%;
    background-color: tomato;
  }
  .graph-box-filter-bar {
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: yellow;
    .btn {
      padding: 0.7vh 2vh;
    }
  }
}
